.map_container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: 200px;
  width: 100%;
}

.view_toggle {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.view_toggle button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.green_button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.view_toggle button.active {
  background-color: #174d1a;
}

.list_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.list_item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #e9ebee;
  color: #000000;
  padding: 20px;
  margin-bottom: 10px;
  width: 100%;
  max-width: 600px;

  cursor: pointer;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.low_battery_icon,
.full_bin_icon {
  font-size: 24px;
}

.list_item p {
  color: black;
}

.list_item_content {
  flex-grow: 1;
}

.list_item:hover {
  transform: translateY(-2px);
}

.submenu {
  display: flex;
  flex-direction: column;
  background-color: #e9ebee;
  padding: 10px;
  margin-top: 10px;
  width: calc(100% - 20px);
}

.submenu_button {
  background-color: #4caf50;
  color: rgb(255, 255, 255);
  padding: 10px;
  margin-bottom: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submenu_button:hover {
  background-color: #45a049;
}

.infoWindow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.infoWindow p {
  color: #000000;
}
.infoButton {
  background-color: #4caf50;
  color: white;
  padding: 5px 10px;
  margin-top: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 0.8rem;
}

.infoButton:hover {
  background-color: #45a049;
}

.icon {
  font-size: 24px;
  margin-right: 8px;
}

.list_item_full {
  border-left: 5px solid red;
}

.list_item_ok {
  border-left: 5px solid rgb(35, 194, 35);
}

.list_item_low_battery {
  border-left: 5px solid orange;
}

.list_item_critical {
  border-left: 5px solid purple;
}

.register_button_container {
  margin-bottom: 0px;
  text-align: center;
}

.mapLegend {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.legendItem {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  margin-right: 10px;
}

.legendColorBox {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 2px;
  border: 1px solid #000;
}

.flaggedBinsContainer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

.flaggedBinItem {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.flaggedBinItem div {
  margin-bottom: 5px;
}

.devices_table {
  width: fit-content;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 20px;
}

.devices_table th,
.devices_table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
  width: fit-content;
}

.devices_table th {
  background-color: #f4f4f4;
  cursor: pointer;
}

.devices_table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.devices_table_control_buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.unknown_devices_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.unknown_devices_container_device {
  padding: 15px;
  border: 2px solid black;
  border-radius: 5px;
}

.unknown_devices_container_device > p {
  margin-bottom: 5px;
  color: black;
}

.devices_table > tbody > tr > td > input {
  max-width: 70px;
}
